asgiref==3.8.1
dj-database-url==2.1.0
dj-email-url==1.0.6
Django==5.0.4
django-cache-url==3.4.5
djangorestframework==3.15.1
environs==11.0.0
marshmallow==3.21.1
packaging==24.0
python-dotenv==1.0.1
sqlparse==0.4.4
typing_extensions==4.11.0
